@import './base.css';

#app {
  width: 100%;
  /* background-image: linear-gradient(to right, #f9f9ce, #f8f8d2, #f7f7d5, #f6f6d9, #f5f5dc); */
  background-color: #f9f9ce;
  font-weight: normal;
  font-family: "Poppins",Sans-serif;
  /* font-family: "europa", sans-serif; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-family: fantasy; */
}
